.header practice-slide-show!!

.image-upload
  .image-upload__title ここに画像アップロードフォームを作成
  %input{ class: 'image-upload__input', type: 'file'}
    = icon 'fas', 'camera'
    
.slide-show ここにスライドショーを作る

